
.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
  width: 100rem;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-section {
  margin-top: 1rem;
  margin-bottom: 20px;
  // display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  // overflow-x: scroll;
}
