<div class="dashboard-container">
  <main class="main-content">
    <app-search-bar
      (citySelected)="cityService.addCity($event)"
    ></app-search-bar>

    <section class="location-section">
      <app-city-list></app-city-list>
    </section>

    <ng-container *ngIf="currentWeather$ | async as currentWeather">
      <div class="container">
        <h2>Today's highlight</h2>
        <div class="data-container">
          <app-highlights-grid [data]="currentWeather"></app-highlights-grid>
          <app-weather-graph></app-weather-graph>
        </div>
      </div>
    </ng-container>
  </main>
</div>
