<ng-container *ngIf="cities$ | async as cities">
  <p-carousel
    *ngIf="cities.length; else noCities"
    [value]="cities"
    [numVisible]="getNumVisible(cities.length)"
    [numScroll]="1"
    [circular]="false"
    [showIndicators]="false"
    [showNavigators]="cities.length > 3"
    class="city-carousel"
  >
    <ng-template pTemplate="item" let-city>
      <app-city-card
        [city]="city"
        (delete)="onDelete(city)"
        (setCurrent)="onSetCurrent(city)"
      ></app-city-card>
    </ng-template>
  </p-carousel>

  <ng-template #noCities>
    <div class="empty-placeholder">
      <p>No locations added yet.</p>
      <p>Search for a city in the search bar above and select it to add it.</p>
    </div>
  </ng-template>
</ng-container>
