.highlights-section {
  display: flex;
  flex-direction: column;

  .data-container {
    display: flex;
    flex-direction: row;
  }

  .highlight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    height: 100%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .highlight-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .highlights-section {
    #temperature {
      grid-column: 1;
      grid-row: 1;
    }

    #precipitation {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }

    #precipitationProbability {
      grid-column: 1;
      grid-row: 2 / 8;
    }

    #visibility {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    #uvIndex {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    #apparentTemperature {
      grid-column: 3 / 4;
      grid-row: 2 / 8;
    }
  }
}
