<section class="highlights-section">
    <h2>Today's highlight</h2>
    <div class="highlight-grid">
      <app-highlight-card type="temperature"></app-highlight-card>
      <app-highlight-card type="precipitation"></app-highlight-card>
      <app-highlight-card type="precipProb"></app-highlight-card>
      <app-highlight-card type="visibility"></app-highlight-card>
      <app-highlight-card type="uvIndex"></app-highlight-card>
      <app-highlight-card type="apparentTemp"></app-highlight-card>
    </div>
  </section>
  