.highlights-section {
    margin-bottom: 20px;
  
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  
    .highlight-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
  