.dashboard-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  font-family: sans-serif;
  overflow: hidden;

  .sidebar {
    width: 12vw;
    flex-shrink: 0;
  }

  .weather-dashboard {
    flex: 1;
    width: auto;
  }
}
