<aside class="sidebar">
  <button class="sidebar-button">
    <svg viewBox="0 0 24 24" fill="currentColor" class="icon">
      <path d="M12 20v-8M5 12l7-7 7 7M3 21h18"></path>
    </svg>
    <p>Weather</p>
  </button>
  <button class="sidebar-button active">
    <svg viewBox="0 0 24 24" fill="currentColor" class="icon">
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"></path>
    </svg>
    <p>Home</p>
  </button>

  <button class="sidebar-button" (click)="logout()">
    Logout
  </button>

  <div class="user-info">
    <svg viewBox="0 0 24 24" fill="currentColor" class="icon">
      <path
        d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0 014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z">
      </path>
    </svg>
    <p>Hello, User</p>
  </div>
</aside>
