.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  app-sidebar {
    flex: 0 0 100px;
    height: 100vh;
    border-right: 1px solid #ccc;
  }

  app-weather-dashboard {
    flex: 1;
    padding: 1rem;
  }
}
